In [9]:
import pandas as pd
df = pd.read_csv("/Users/samuelbraun/Desktop/SummerPython/ProjectA1_NYT/article7.csv")
df

,Unnamed: 0,headline,abstract,paragraph,pub_cal_date,full_article,cln_full_article,tk_cln_full_article,flt_tk_cln_full_article,lm_flt_tk_cln_full_article
0,0,"'As an Archaeologist, I Have Seen Too Many Des...","Lily Yen, 96-year-old retired teacher and home...","Lily Yen, born to a merchant family in Shangha...",2000-01-01,"'as an archaeologist, i have seen too many des...",as an archaeologist i have seen too many destr...,"['as', 'an', 'archaeologist', 'i', 'have', 'se...",archaeologist seen many destructions lily yen ...,archaeologist see many destructions lily yen 9...
1,1,Party? What Party? We're Going Shopping,President Jiang Zemin spoke here of China's gl...,President Jiang Zemin spoke here of China's gl...,2000-01-01,party? what party? we're going shopping presid...,party what party were going shopping president...,"['party', 'what', 'party', 'were', 'going', 's...",party party going shopping president jiang zem...,party party go shop president jiang zemin spea...
2,2,"In Leading Nations, A Population Bust?",David E Sanger article says the most advanced ...,"LADIES and gentlemen, welcome to Shanghai,'' s...",2000-01-01,"in leading nations, a population bust? david e...",in leading nations a population bust david e s...,"['in', 'leading', 'nations', 'a', 'population'...",leading nations population bust david e sanger...,lead nations population bust david e sanger ar...
3,3,Dec. 26 - Jan. 1; China Sentences 4 Members Of...,Sending a harsh message to followers of the Fa...,Sending a harsh message to followers of the Fa...,2000-01-02,dec. 26 - jan. 1; china sentences 4 members of...,dec 26 jan 1 china sentences 4 members of spi...,"['dec', '26', 'jan', '1', 'china', 'sentences'...",dec 26 jan 1 china sentences 4 members spiritu...,dec 26 jan 1 china sentence 4 members spiritua...
4,4,"FOOD: The Lives They Lived: Grace Zia Chu, b. ...",west meets east**A,"In China, Grace Zia Chu had been a gym teacher...",2000-01-02,"food: the lives they lived: grace zia chu, b. ...",food the lives they lived grace zia chu b 1900...,"['food', 'the', 'lives', 'they', 'lived', 'gra...",food lives lived grace zia chu b 1900 west mee...,food live live grace zia chu b 1900 west meet ...
...,...,...,...,...,...,...,...,...,...,...
35923,35923,A Federal Food Safety Case Reveals Latest New ...,Prosecutors reached a settlement with the oper...,When federal investigators arrived at a meat a...,2023-07-30,a federal food safety case reveals latest new ...,a federal food safety case reveals latest new ...,"['a', 'federal', 'food', 'safety', 'case', 're...",federal food safety case reveals latest new yo...,federal food safety case reveal latest new yor...
35924,35924,The Sunday Read: ‘The America That Americans F...,"As tensions with China mount, the U.S. militar...","On the weekends, when Roy Gamboa was a little ...",2023-07-30,the sunday read: ‘the america that americans f...,the sunday read ‘the america that americans fo...,"['the', 'sunday', 'read', '‘', 'the', 'america...",sunday read ‘ america americans forget ’ tensi...,sunday read ‘ america americans forget ’ tensi...
35925,35925,Flash Floods and Landslides Sweep Chinese Cities,"As Typhoon Doksuri moved north toward Beijing,...","As Typhoon Doksuri moved north toward Beijing,...",2023-07-31,flash floods and landslides sweep chinese citi...,flash floods and landslides sweep chinese citi...,"['flash', 'floods', 'and', 'landslides', 'swee...",flash floods landslides sweep chinese cities t...,flash flood landslides sweep chinese cities ty...
35926,35926,China Is Trying to Make Its Gloomy Consumers S...,The central government listed measures aimed a...,Chinese drivers who trade in older cars for ne...,2023-07-31,china is trying to make its gloomy consumers s...,china is trying to make its gloomy consumers s...,"['china', 'is', 'trying', 'to', 'make', 'its',...",china trying make gloomy consumers spend centr...,china try make gloomy consumers spend central ...
35927,35927,Saudi Arabia Will Host Talks About Ukraine’s P...,Envoys from nations including the United State...,Saudi Arabia will host talks on Ukraine’s peac...,2023-07-31,saudi arabia will host talks about ukraine’s p...,saudi arabia will host talks about ukraine’s p...,"['saudi', 'arabia', 'will', 'host', 'talks', '...",saudi arabia host talks ukraine ’ peace plan d...,saudi arabia host talk ukraine ’ peace plan di...

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

df['lm_flt_tk_cln_full_article'] = df['lm_flt_tk_cln_full_article'].fillna('')

vectorizer = TfidfVectorizer(max_features=5000)  # limiting to 5000 features for performance
tfidf_matrix = vectorizer.fit_transform(df['lm_flt_tk_cln_full_article'])

# The 'tfidf_matrix' now contains a numerical representation of your text data.

In [12]:
ner_df = pd.DataFrame()

import spacy

spacy.prefer_gpu()
nlp = spacy.load('en_core_web_sm', disable=['tagger', 'parser'])


def extract_entities(docs):
    return [(ent.text, ent.label_) for doc in docs for ent in doc.ents]

docs = list(nlp.pipe(df['lm_flt_tk_cln_full_article'].values))
ner_df['entities'] = extract_entities(docs)


# def extract_entities(text):
#     doc = nlp(text)
#     return [(ent.text, ent.label_) for ent in doc.ents]

# # Apply the function to your DataFrame
# df['entities'] = df['lm_flt_tk_cln_full_article'].apply(extract_entities)

# df

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/spacy/pipeline/lemmatizer.py:211: UserWarning: [W108] The rule-based lemmatizer did not find POS annotation for one or more tokens. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
  warnings.warn(Warnings.W108)

In [13]:
ner_df

                     entities
0             (shanghai, GPE)
1                (china, GPE)
2               (today, DATE)
3       (21yearold, CARDINAL)
4                (1911, DATE)
...                       ...
591129           (china, GPE)
591130           (india, GPE)
591131    (saudi arabia, GPE)
591132      (three, CARDINAL)
591133       (20230731, DATE)

[591134 rows x 1 columns]

In [14]:
ner_df.to_csv("/Users/samuelbraun/Desktop/SummerPython/ProjectA1_NYT/ner1.csv")
ner_df

                     entities
0             (shanghai, GPE)
1                (china, GPE)
2               (today, DATE)
3       (21yearold, CARDINAL)
4                (1911, DATE)
...                       ...
591129           (china, GPE)
591130           (india, GPE)
591131    (saudi arabia, GPE)
591132      (three, CARDINAL)
591133       (20230731, DATE)

[591134 rows x 1 columns]

In [21]:
# Combine all the articles into one long string.
long_str = df['lm_flt_tk_cln_full_article'].str.cat(sep=' ')

# Save this string to a text file.
with open('/Users/samuelbraun/Desktop/SummerPython/ProjectA1_NYT/train1.txt', 'w') as f:
    f.write(long_str)

path_name = '/Users/samuelbraun/Desktop/SummerPython/ProjectA1_NYT/'